@{
    ViewData["Title"] = "Início";
}

<div class="text-center">
    <h2 class="display-4">Campeonato</h2>
    <hr />
    <p>Projeto final da disciplina Banco de Dados II.</p>
    <p class="mb-0">Acadêmicos: </p>
    <p>João Vitor Danielewicz, Allana Paganini, Bianca Maccarini e Jaqueline Camargo.</p>
    <hr />
    <p>Fonte dos dados: <a href="https://olympics.com/en/paris-2024/schedule/table-tennis/men-s-singles" target="_blank">Site oficial das Olimpíadas</a></p>
</div>
