USE [master]
GO
/****** Object:  Database [campeonato]    Script Date: 07/11/2024 16:30:40 ******/
CREATE DATABASE [campeonato]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'campeonato', FILENAME = N'C:\Users\MICRO\campeonato.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'campeonato_log', FILENAME = N'C:\Users\MICRO\campeonato_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [campeonato].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [campeonato]
GO
/****** Object:  Table [dbo].[atleta]    Script Date: 07/11/2024 16:30:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[atleta](
	[id_atleta] [int] IDENTITY(1,1) NOT NULL,
	[nome] [text] NOT NULL,
	[id_equipe] [int] NOT NULL,
 CONSTRAINT [PK_dbo.atleta] PRIMARY KEY CLUSTERED 
(
	[id_atleta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[equipe]    Script Date: 07/11/2024 16:30:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[equipe](
	[id_equipe] [int] IDENTITY(1,1) NOT NULL,
	[nome_equipe] [text] NOT NULL,
	[id_grupo] [int] NULL,
	[id_torneio] [int] NOT NULL,
 CONSTRAINT [PK_dbo.equipe] PRIMARY KEY CLUSTERED 
(
	[id_equipe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fase]    Script Date: 07/11/2024 16:30:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fase](
	[id_fase] [int] IDENTITY(1,1) NOT NULL,
	[descricao] [text] NOT NULL,
 CONSTRAINT [PK_dbo.fase] PRIMARY KEY CLUSTERED 
(
	[id_fase] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[grupo]    Script Date: 07/11/2024 16:30:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[grupo](
	[id_grupo] [int] IDENTITY(1,1) NOT NULL,
	[nome_grupo] [text] NOT NULL,
	[id_fase] [int] NOT NULL,
	[id_torneio] [int] NOT NULL,
 CONSTRAINT [PK_dbo.grupo] PRIMARY KEY CLUSTERED 
(
	[id_grupo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[partida]    Script Date: 07/11/2024 16:30:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[partida](
	[id_partida] [int] IDENTITY(1,1) NOT NULL,
	[data_partida] [datetime] NOT NULL,
	[placar_equipe_1] [int] NOT NULL,
	[placar_equipe_2] [int] NOT NULL,
	[id_equipe_1] [int] NOT NULL,
	[id_equipe_2] [int] NOT NULL,
 CONSTRAINT [PK_dbo.partida] PRIMARY KEY CLUSTERED 
(
	[id_partida] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[resultado]    Script Date: 07/11/2024 16:30:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[resultado](
	[id_resultado] [int] IDENTITY(1,1) NOT NULL,
	[quantidade_pontos] [int] NOT NULL,
	[id_equipe] [int] NOT NULL,
 CONSTRAINT [PK_dbo.resultado] PRIMARY KEY CLUSTERED 
(
	[id_resultado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipo_modalidade]    Script Date: 07/11/2024 16:30:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipo_modalidade](
	[id_modalidade] [int] IDENTITY(1,1) NOT NULL,
	[nome_modalidade] [text] NOT NULL,
 CONSTRAINT [PK_dbo.tipo_modalidade] PRIMARY KEY CLUSTERED 
(
	[id_modalidade] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipo_torneio]    Script Date: 07/11/2024 16:30:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipo_torneio](
	[id_tipo_torneio] [int] IDENTITY(1,1) NOT NULL,
	[nome_tipo] [text] NOT NULL,
 CONSTRAINT [PK_dbo.tipo_torneio] PRIMARY KEY CLUSTERED 
(
	[id_tipo_torneio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[torneio]    Script Date: 07/11/2024 16:30:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[torneio](
	[id_torneio] [int] IDENTITY(1,1) NOT NULL,
	[nome_torneio] [text] NOT NULL,
	[data_inicio] [datetime] NOT NULL,
	[data_fim] [datetime] NOT NULL,
	[id_modalidade] [int] NOT NULL,
	[id_tipo_torneio] [int] NOT NULL,
 CONSTRAINT [PK_dbo.torneio] PRIMARY KEY CLUSTERED 
(
	[id_torneio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[atleta]  WITH CHECK ADD  CONSTRAINT [fk_id_equipe_atleta] FOREIGN KEY([id_equipe])
REFERENCES [dbo].[equipe] ([id_equipe])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[atleta] CHECK CONSTRAINT [fk_id_equipe_atleta]
GO
ALTER TABLE [dbo].[equipe]  WITH CHECK ADD  CONSTRAINT [fk_id_torneio_equipe] FOREIGN KEY([id_torneio])
REFERENCES [dbo].[torneio] ([id_torneio])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[equipe] CHECK CONSTRAINT [fk_id_torneio_equipe]
GO
ALTER TABLE [dbo].[grupo]  WITH CHECK ADD  CONSTRAINT [fk_id_fase] FOREIGN KEY([id_fase])
REFERENCES [dbo].[fase] ([id_fase])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[grupo] CHECK CONSTRAINT [fk_id_fase]
GO
ALTER TABLE [dbo].[grupo]  WITH CHECK ADD  CONSTRAINT [fk_id_torneio_grupo] FOREIGN KEY([id_torneio])
REFERENCES [dbo].[torneio] ([id_torneio])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[grupo] CHECK CONSTRAINT [fk_id_torneio_grupo]
GO
ALTER TABLE [dbo].[partida]  WITH CHECK ADD  CONSTRAINT [fk_id_equipe1_partida] FOREIGN KEY([id_equipe_1])
REFERENCES [dbo].[equipe] ([id_equipe])
GO
ALTER TABLE [dbo].[partida] CHECK CONSTRAINT [fk_id_equipe1_partida]
GO
ALTER TABLE [dbo].[partida]  WITH CHECK ADD  CONSTRAINT [fk_id_equipe2_partida] FOREIGN KEY([id_equipe_2])
REFERENCES [dbo].[equipe] ([id_equipe])
GO
ALTER TABLE [dbo].[partida] CHECK CONSTRAINT [fk_id_equipe2_partida]
GO
ALTER TABLE [dbo].[resultado]  WITH CHECK ADD  CONSTRAINT [fk_id_equipe_resultado] FOREIGN KEY([id_equipe])
REFERENCES [dbo].[equipe] ([id_equipe])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[resultado] CHECK CONSTRAINT [fk_id_equipe_resultado]
GO
ALTER TABLE [dbo].[torneio]  WITH CHECK ADD  CONSTRAINT [fk_id_modalidade] FOREIGN KEY([id_modalidade])
REFERENCES [dbo].[tipo_modalidade] ([id_modalidade])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[torneio] CHECK CONSTRAINT [fk_id_modalidade]
GO
ALTER TABLE [dbo].[torneio]  WITH CHECK ADD  CONSTRAINT [fk_id_tipo_torneio] FOREIGN KEY([id_tipo_torneio])
REFERENCES [dbo].[tipo_torneio] ([id_tipo_torneio])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[torneio] CHECK CONSTRAINT [fk_id_tipo_torneio]
GO
USE [master]
GO
