@model Campeonato.Models.Partida

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Partida</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdPartida" />
            <div class="form-group">
                <label asp-for="DataPartida" class="control-label"></label>
                <input asp-for="DataPartida" class="form-control" />
                <span asp-validation-for="DataPartida" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlacarEquipe1" class="control-label"></label>
                <input asp-for="PlacarEquipe1" class="form-control" />
                <span asp-validation-for="PlacarEquipe1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlacarEquipe2" class="control-label"></label>
                <input asp-for="PlacarEquipe2" class="form-control" />
                <span asp-validation-for="PlacarEquipe2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdEquipe1" class="control-label"></label>
                <select asp-for="IdEquipe1" class="form-control" asp-items="ViewBag.IdEquipe1"></select>
                <span asp-validation-for="IdEquipe1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdEquipe2" class="control-label"></label>
                <select asp-for="IdEquipe2" class="form-control" asp-items="ViewBag.IdEquipe2"></select>
                <span asp-validation-for="IdEquipe2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdFase" class="control-label"></label>
                <select asp-for="IdFase" class="form-control" asp-items="ViewBag.IdFase"></select>
                <span asp-validation-for="IdFase" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
